 /* header > nav */
 span.col.logo {
	font-family: auto;
	font-style: unset;
	font-size: 50px;
	font-weight: bolder;
	color: honeydew;
	text-shadow: 0px 0px 2px black;
}

.bg-image {
	background-size: contain;
	background-image: url('/assets/Mask group.png');
	/* scale: 0.4; */
	width: 1440px;
	height: 600px;
	left: 0px;
	top: 0px;
	background-repeat: no-repeat;
	margin: 0;
	background-size: cover;
	max-width: 1440px;
	display: flex;
	justify-content: center;
}

.logo {
	width: 207px;
	height: 25.26px;
	animation-timing-function: ease-out;
	animation-duration: 300ms;

}


.row.wrapper {
	position: absolute;


	background-color: white;
	padding: 0px;
	margin: 0px;
	border-radius: 10px;
	width: 70%;
	height: 72px;
	top: 406.42px;
	left: 243px;
	gap: 0px;

}

.input-group.flex-nowrap {

	position: relative;

	background-color: white;
	padding: 5px;

	border-radius: inherit;
	overflow: hidden;
	width: 100%;
	}

.form-control {
	border: 0;
	padding-right: 0;
	border-radius: inherit;
}

#addon-wrapping {

	background-color: black;
	color: lightyellow;

	font-size: xx-large;
	}

#addon-wrapping:hover {
	background-color: #FFD15B;
	color: black;
}

.row.label-search h1 {

	/* CHERCHEZ PARMI PLUS DE 1500 RECETTES DU QUOTIDIEN,SIMPLES ET DÉLICIEUSES */

	position: absolute;
	width: 66%;
	height: 132px;
	left: 275px;
	top: 210px;

	font-family: 'Anton';
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 66px;
	text-align: center;

	/* Yellow */
	color: #FFD15B;


}

.input-group-prepend {
	border: 0;

}

#advance_search {
	background-color: #EDEDED;
	margin: 0;
}

body {
	background-color: #EDEDED;
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 0;
	max-width: 1440px;
}

#Advanced_search_fields {
	justify-content: space-between;
margin-top: 10px;
margin-bottom: 53px;
}

.select.row {
	padding-top: 15px;
}

.card {
	position: relative;
	width: 100%;
	height: 731px;

	/* overflow-y: scroll; */
	background: #FFFFFF;
	box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
	border-radius: 21px;
	}

	.options {
		width: 100%;
		overflow-y: clip;
		height: 315px;
		display: none;

		align-items: unset;
	}

	ul {
		list-style: none;
		padding: 0;
		width: 100%;
		}

		.li-item {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			align-items: center;
		}

		input {
			border: none;
			width: 87%;
			outline: none;
		}

		#ingredient-search,
		#appareil-search,
		#ustensile-search {
			outline: lightgray 1px solid;
			height: 31px;
			display: none;
			width: 100%;
			align-items: center;
		}

		.selected-val {
			color: gray;
		}

		.li-item:hover span {
			border-radius: 50%;
			background-color: black;
			color: white;
			width: 16px;
			font-weight: normal;
			cursor: pointer;
			height: 17px;
			display: flex;
			align-items: center;
		}

		.li-item:hover {
			background-color: #FFD15B;
			font-weight: bold;
	   }
	   /* .bi.bi-x {
	   
	   	color: black;
	   } */

	   .li-item:hover span .bi.bi-x {
	   	display: block;
	   }

	   .row-cols-2 {
	   	position: absolute;
	   	left: 7%;
	   	top: 7%;
	   }

	   html {
	   	margin: 0;
	   	padding: 0;

	   	display: flex;
	   	justify-content: center;
	   	background-color: black;
	   }
	   #labelSearch {
	   	width: 158px;
	   	height: 50px;

	   	background: #FFD15B;
	   	border-radius: 10px;
	   	font-size: larger;
	   	display: flex;
	   	flex-direction: row;
	   	justify-content: space-between;
	   	align-items: center;
	   }


	   #labelSearch>span.bi_x {
	   	color: black;
	   	display: block;
	   	font-size: large;
	   	text-align: center;
	   }

	   .li-item span .bi.bi-x {
	   	display: none;
	   }

	   .card-img-top {
	   	object-fit: cover;
	   	height: 219px;
	   }